@media all and (max-width: 910px) {
  .menu {
    visibility: hidden;
  }

  .main {
    width: 90%;
    left: 2em;
    right: 2em;
  }

  .share span {
    visibility: hidden;
  }

  .navbars {
    visibility: visible;
  }
  
   .row:last-child > [class*="-col"]:last-child {
    margin-bottom: 0;
  }

  [class*="-offset"] {
    margin-left: 0;
  }

  .row:not(:last-child) {
    margin: 0;
  }

}

@media screen and (max-width: 480px) {
  body {
    background: url("../img/background.jpg") fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .menu {
    visibility: hidden;
  }

  .main {
    width: 90%;
    left: 1.25em;
  }

  .share span {
    display: none;
    clear: both;
  }

  .share_close {
    padding-left: 1em;
    padding-right: 2.0em;
  }

  .navbars {
    visibility: visible;
  }

  .wrapper {
    margin: 2em;
  }

  .float_right {
    float: none;
    padding-left: 0em;
  }

  .row:last-child > [class*="-col"]:last-child {
    margin-bottom: 0;
  }

  [class*="-offset"] {
    margin-left: 0;
  }

  .row:not(:last-child) {
    margin: 0;
  }  

}

@media screen and (max-width: 375) {
  
}